<h2>Our Worldly Possessions</h2>
<hr />

<% if params[:admin].present? && params[:admin] == "1" %>
  <p><a href="gifts/new?currently_own=true" rel="facebox">Add another</a></p>
<% end %>

<% @categories.each do |category| %>
  <% if category.gifts.currently_own.present? %>
    <h5><%= category.description %></h5>
    <ul>
      <% category.gifts.currently_own.each do |gift| %>
        <li>
          <%=h gift.description %>

          <% if params[:admin].present? && params[:admin] == "1" %>
            <a href="gifts/<%= gift.id %>/edit" rel="facebox">Edit</a>
            |
            <%= link_to 'Remove', gift, :confirm => 'Are you sure you want delete this item from the list?', :method => :delete  %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<br />