<hr />
<h3>Your Gift Ideas</h3>

<p><a href="gifts/new?other_gift=true" rel="facebox">Add new pressie</a></p>

<% @categories.each do |category| %>
  <% if category.gifts.other_gifts.present? %>
  <h5><%= category.description %></h5>
    <table>
    
      <% category.gifts.other_gifts.each do |gift| %>
        <tr>
          <td class="grid_10 alpha"><div class="claimed"><%=h gift.description %></div></td>
          <td class="grid_2 alpha omega">
            <a href="gifts/<%= gift.id %>/edit" rel="facebox">Edit</a>
            |
            <%= link_to 'Remove', gift, :confirm => 'Are you sure you want delete this item from the list?', :method => :delete %>
          </td>
        </tr>
      <% end %>
      
      </table>
  <% end %>
<% end %>