<hr />
<h3>Our Gift Ideas</h3>

<% if params[:admin].present? && params[:admin] == "1" %>
  <p><%= link_to 'New gift', new_gift_path(:is_admin => true) %></p>
<% end %>

<% @categories.each do |category| %>
  <% if category.gifts.our_gifts.present? %>
  <h5><%= category.description %></h5>
    <table>
      
      <% category.gifts.our_gifts.each do |gift| %>
        <tr id="<%= gift.id %>">
          <%= render :partial => "our_gift", :locals => { :gift => gift } %>
        </tr>
      <% end %>
      
      </table>
  <% end %>
<% end %>