<p>
  Thank you so much for visiting our wedding registry!! We have created this to hopefully give you some ideas of the things that we already have, and those things that we want / think we may need when we finally move out and fend for ourselves!! 
</p>

<p>
  The following list of items are high on our wish list, however we are happy for you to venture off and get us anything you think we may like / need! :)
</p>

<p>
  If you like one of the gift ideas we have come up with, be sure to "Claim this gift" to ensure none of the other guests buy the same thing (and so we don't end up with 50 toasters)!! Don't worry though, if you change your mind at any time just click on the "Unclaim me" button which will give someone else a chance to claim it instead!! If you already have an idea of something else you want to get us, just click on the "Add new pressie" button and enter a short description of your gift, to again avoid a duplication of gifts!  
</p>

<p>
  We have also created a list of our worldly possessions, which should give you an idea of the things we DONT need, but then again - can you ever have too much camping stuff!!?? 
</p>

<p>
Thanks again, and cant wait to see you all soon!! 
<br />
xoxoxo Sian and Dave.
</p>


