<div class="grid_12 alpha">
  <%= render :partial => "web_copy" %>
  <h2>Gift ideas</h2>
  <%= render :partial => "our_gifts" %>
  <%= render :partial => "other_gifts" %>
</div>
<div class="grid_4 omega">
  <h2>Our Stuff</h2>
  <%= render :partial => "currently_own" %>
</div>