<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Gifts: <%= controller.action_name %></title>
  <link rel="stylesheet" type="text/css" media="all" href="stylesheets/reset.css" />
  <link rel="stylesheet" type="text/css" media="all" href="stylesheets/text.css" />
  <link rel="stylesheet" type="text/css" media="all" href="stylesheets/960.css" />
  <script type="text/javascript" src="/javascripts/prototype.js"></script>
</head>
<body>
  <div class="container_16">
    <div class="grid_16 alpha omega">
      <h1>Title goes here</h1>
    </div>
    <div class="grid_12 alpha">
      <h2>Gift ideas</h2>
      <%= yield %>
    </div>
    <div class="grid_4 omega">
      <h2>Our Stuff</h2>
    </div>
  </div>
</body>
</html>
